<div class="row" *ngIf="route.children.length === 0">
    <div class="col-md-12">
            <h4 class="remove-margin"> Categories Tree </h4>
      <div class="card">
        <div class="card-body">
            <div *ngFor="let node of tree; let i = index">
                <p>| {{node.title}}</p>
                <div *ngIf="node.children.length > 0">
                  <p *ngFor="let nodeSpec of node.children; let j = index">---- | {{nodeSpec.title}}</p>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <router-outlet></router-outlet>
    </div>
</div>