<div class="row" *ngIf="route.children.length === 0">
    <div class="col-md-12">
            <h4 class="remove-margin"> Categories Tree </h4>
      <div class="card">
        <div class="card-body">
            <div *ngFor="let node of finalTree; let i = index">
                <div *ngIf="node.line === 1">
                  <p>| {{node.title}}</p>
                </div>
                <div *ngIf="node.line === 2">
                  <p>| ----- | {{node.title}}</p>
                </div>
                <div *ngIf="node.line === 3">
                  <p>| ----- | ----- | {{node.title}}</p>
                </div>
                <div *ngIf="node.line === 4">
                  <p>| ----- | ----- | ----- |{{node.title}}</p>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <router-outlet></router-outlet>
    </div>
</div>